.nav-bar {
    /* 選單大小 */
    width: 100%;
    height: 100px;
    z-index: 110;
  }
  /* 標題icon圖片 */
  .nav-bar .icons{
    display: block;
    margin-top: 5px;
    margin: 5px 0;
    transition: all 0.2s ease-in;
    color: #bc6c25;
    font-size: 25px;
  }
  .nav-bar .icons:hover{
    transform: scale(1.15);
  }
  .nav-bar a > span{
    color:#bc6c25
  }
  .nav-bar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    overflow: auto;
    background: #e3d5ca;
    text-align: center;
  }
  /* navbar第一層四個分類的圖片和文字間距 */
  .nav-bar > ul > li {
    margin: 15px;
  }
  .nav-bar ul li ul {
    position: absolute;
    overflow: visible;
    visibility: hidden;
    padding: 0;
  }
  .nav-bar ul:hover,
  .nav-bar ul li a:hover + ul {
    visibility: visible;
  }
  .nav-bar {
    font-size: 18px;
  }
  .nav-bar a {
    color: #606060;
    text-decoration: none;
    line-height: 35px;
  }
  .nav-bar ul li ul li a {
    width: 120px;
    font-size: 14px;
    color: #b08968;
    background: #fcf4ec;
    text-align: center;
  }
  .nav-bar ul li ul li a:hover{
    transform: scale(1.1);
    background: #e7d7c8;
  }
  .nav-bar ul li a{
    width: 120px;
    display: block;
  }
  .nav-bar > ul.active{
    display: block;
    background: rgba(244,244,244,0.97) !important;
    box-shadow: rgba(00,00,00,0.3) 0 0 10px;
  }
  /*活動辦理下拉選單*/
  .nav-bar ul li > ul,
  .nav-bar ul li > ul.active
  {
    display: inline-block;
    margin-left: -60px;
    background: rgba(244,244,244,0.97) !important;
    box-shadow: rgba(00,00,00,0.2) 0 0 10px;
  }